@using ClassLibraryModel
@model DateFormElementModel

<div class="bg-white rounded-1 border-1 border-secondary border d-flex flex-column p-3 m-1">
    <input asp-for="QuestionType" name="Form.FormElements[@Model.Index].QuestionType" type="hidden" />
    <div class="d-flex flex-row align-items-center">
        <h5 class="text-center">Short text question</h5>
        <div class="border-bottom flex-grow-1 ms-2 me-2 border-dark"></div>

    </div>
    <div class="form-group">
        <input asp-for="Question" name="Form.FormElements[@Model.Index].Question" class="form-control-plaintext mb-1 h4" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Date" name="Form.FormElements[@Model.Index].Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
</div>