@using ClassLibraryModel
@model GeneralFormElementModel

<div class="bg-white rounded-1 border-1 border-secondary border d-flex flex-column p-3 m-1">
    <input asp-for="QuestionType" name="Form.FormElements[@Model.Index].QuestionType" type="hidden" />
    <input asp-for="Index" name="Form.FormElements[@Model.Index].Index" type="hidden" />
    <div class="d-flex flex-row align-items-center justify-content-between">
        <h5 class="text-center">Date question</h5>
        <div class="d-flex flex-row align-items-center">
            @if (Model.Index != 0)
            {
                <a class="btn" asp-page-handler="MoveUp" asp-route-index="@Model.Index">
                    <i class="bi bi-caret-up-fill text-black"></i>
                </a>
            }
            @if (ViewData["fe_last"] != null && Model.Index != (int)ViewData["fe_last"]!)
            {
                <a class="btn" asp-page-handler="MoveDown" asp-route-index="@Model.Index">
                    <i class="bi bi-caret-down-fill text-black"></i>
                </a>
            }
            <a class="btn btn-close" asp-page-handler="Remove" asp-route-index="@Model.Index"></a>
        </div>
    </div>
    <div class="border-bottom flex-grow-1 border-dark"></div>

    <div class="form-group">
        <input asp-for="Question" name="Form.FormElements[@Model.Index].Question" class="form-control-plaintext mb-1 h4" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Answer" name="Form.FormElements[@Model.Index].Answer" type="date" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
</div>