@page "/register"
@model FormCreator.Pages.Public.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">Create new account</h1>

<hr />
@{
    ViewBag.r = HttpContext.Items["UserError"]?.ToString();
    if (!string.IsNullOrEmpty(ViewBag.r))
    {
        <div class="alert alert-danger">@ViewBag.r</div>
    }
}
@if(TempData["UserError"] != null)
{
    <div class="alert alert-danger">@TempData["UserError"]</div>
}
<div class="text-center p-2 bg-white">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <div class="form-group m-1 p-2">
                <input asp-for="Input.Email" type="text" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger fs-7"></span>
            </div>
            <div class="form-group m-1 p-2">
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger fs-7"></span>
            </div>
            <div class="form-group m-1 p-2">
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger fs-7"></span>
            </div>
            <div class="form-group m-1 p-2">
                <input asp-for=" Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger fs-7"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
            <div class="form-group m-1 p-2">

            @if(ViewBag.r == null)
            {
                <button type="submit" class="btn btn-primary text-center form-control">Register</button>
            }
            else
            {
                <button data-bs-toggle="modal" type="button" data-bs-target="#serviceUnavailable" class="btn btn-primary text-center form-control">Register</button>
            }
            </div>
        </form>
    </div>
</div>
