@page "/forms/view/{id}"
@model FormCreator.Pages.Forms.ViewFormModel
@{
    ViewData["Title"] = Model.Form.Name;
}

@if (ModelState.ErrorCount > 0)
{

    <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
}
@if (TempData["UserError"] != null)
{
    <div class="alert alert-danger alert-dismissible d-flex" role="alert">
        <span>@TempData["UserError"]</span>
        <span type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
    </div>
}