@page "/changepass"
@model FormCreator.Pages.User.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <div class="d-flex flex-column bg-white">
        @if (Model.ErrorMessage != null)
        {
            <div class="alert alert-danger m-3">@Model.ErrorMessage</div>
        }
        <div class="col-md-6 mx-auto">
            <form method="post">
                <div class="form-group m-1 p-2">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group m-1 p-2">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group m-1 p-2">
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="flex-column d-flex justify-content-center align-items-center">
                    <div class="alert alert-warning text-center p-3 mb-0">You have to relog again to regain access to your account.</div>
                    <button type="submit" class="btn btn-primary m-2">Change Password</button>
                </div>
            </form>
        </div>

    </div>
</div>