@page "/settings"
@model SettingsModel

@{
    ViewData["Title"] = "Settings";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Settings
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#" class="card-link">Change Email</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="card-link">Change Password</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="card-link">Toggle Visibility</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="card-link text-danger">Delete Account</a>
                </li>
            </ul>
        </div>
    </div>
</div>