@page "/settings"
@model SettingsModel

@{
    ViewData["Title"] = "Settings";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Settings
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <ul>Ok</ul>
                </li>
            </ul>
        </div>
    </div>
</div>